<%- include('header') %>
<div class="row" style="height: 100vh">
    <div class="login-form">

        <div class="login100-form validate-form">
            <a href="/">
                <img src="images/PhonePe_Images_zjha50 (2).png" style="height: 70px; width: 80px;"
                    class="login-logo">
            </a>
            
            <h1 class="text-center" style="color: #252158;"> Sorry, this page does not exist :(</h1>
                
            
        </div>
        <!-- <div class="col-lg col-md p-5 d-none d-lg-block login-img">
        
    </div> -->
    </div>
</div>
<%- include('footer') %>