<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/PhonePe_Images_zjha50 (2).png">
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7591433476437554"
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="body-container">
        <div class="container d-flex justify-content-between py-3 landnav">
            <div class="brand fs-3 text-light">
                <a href="/">
                    Zapnode<sub>TV</sub>
                </a>
                
            </div>
            <div class="signin">
                <a href="/login">
                    <button type="button" class="btn">
                        Login now
                    </button>
                </a>
            </div>
        </div>
        <div class="showcase text-center text-light">
            <div class="showcase-header">
                <p style="font-size: 2.5rem;" class="text-light">
                    Free movies, TV shows, and more.
                </p><br>
                Zapnode streaming is available 24/7.<br>
                Ready to watch? Create an account first
                <div class="mt-4">
                    <a href="/create">
                        <button type="button" class="btn btn-lg">
                            Let's get started 🥳
                        </button>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>




